@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Caprasimo&family=Epilogue&family=Inter&family=Manrope&family=Montserrat+Alternates:wght@200&family=Oooh+Baby&family=Playfair+Display&family=Public+Sans&family=Roboto&family=Rubik&display=swap');

.advice-card-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 290px;
  border-radius: 13px;
  background-color: hsl(218, 23%, 16%);
  gap: 25px;
  z-index: 500;
  position: relative;
  padding: 15px;
}

.advice-header {
  font-family: 'Manrope', sans-serif;
  color: hsl(193, 96%, 26%);
  font-weight: 600;
  font-size: 13px;
}

.advice-para {
  font-family: 'Manrope', sans-serif;
  color: hsl(193, 38%, 86%);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.advice-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 25px;
  border-radius: 50%;
  position: absolute;
  top: 89%;
  background-color: hsl(150, 100%, 66%);
  cursor: pointer;
}

@media screen and (max-width: 410px) {
  .advice-card-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 390px;
    border-radius: 13px;
    background-color: hsl(218, 23%, 16%);
    gap: 25px;
    z-index: 500;
    position: relative;
    padding: 15px;
  }
}
